@import url('https://fonts.googleapis.com/css2?family=Actor&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: #d0cccc;
}

.heading {
    width: 100%;
    height: 12vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aad8e4;
    font-size: 2em;
    font-family: Nunito Sans;
    font-weight: 650;
}

.area, .textarea {
    height: 20vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.textarea{
    font-size: 1.5em;
    border-radius: 5px;
    font-family: Actor;
    width: 50vw;
    background-color: #e2e0df;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.keyboard {
    display: flex;
    flex-direction: column;
    height: 45vh; 
    width: 75%;
    margin-top: 30px;
}

.row {
    display: flex;
    justify-content: space-around;
    height: 19%; 
    width: 100%;
}

.key {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgb(14,13,13);
    font-size: 1.6em;
    cursor: pointer;
    font-family: Nunito Sans;
}
    
.number{
    font-size: 1.4em;
}

.backtick{
        width: 150px;
        background-color: #FFCDD2;
}
    
.backspace{
        width: 40%;
        font-size: 1em;
        background-color: #BBDEFB;
}

.tab{
    width: 270px;
    font-size: 1.4em;
    background-color: #F8BBD0;
}

.caps{
    width: 360px;
    font-size: 1.3em;
    background-color: #E1BEE7;
}

.enter { 
    width: 430px;
    font-size: 1.5em;
    background-color: #C8E6C9; 
}

.shift{
    width: 535px;
    font-size: 1.5em;
    background-color: #D1C4E9;
}

.spacebar{
    background-color: #dad6d6;
}

.space { 
    width: 100%;
    background-color: #FFE082; 
}

.key.active{
    background-color: #bcb8b8;
    color: rgb(24, 23, 23);
}

@media( max-width:350px){
    .heading{
        font-size: 1.5em;
    }
    .keyboard{
        width: 100%;
        height: 22vh;
    }
    .key{
        font-size: 1em;
        border-radius: 5px;
        margin: 0;
    }
    .backspace{
        font-size: 0.5em;
    }
    .tab,.caps,.enter,.shift{
        font-size: 0.8em;
    }
}

@media (min-width:350px) and (max-width:550px){
    .keyboard{
        width: 98%;
        height: 26vh;
    }
    .key{
        font-size: 1.1em;
        border-radius: 0;
        margin: 0.1px;
        border-radius: 5px;
        font-weight: 550;
    }
    .backspace{
        font-size: 0.6em; font-weight: 550;
    }
    .tab,.caps,.enter,.shift{
        font-size: 0.9em;font-weight: 550;
    }
}

@media (min-width:550px) and (max-width:700px){
    .keyboard{
        width: 95%;
        height: 30vh;
    }
    .key{    
        font-size: 1.3em;
        border-radius: 0;
        margin: 0.2px;
        border-radius: 5px;
    }
    .backspace{
        font-size: 0.9em;
    }
    .tab,.caps,.enter,.shift{
        font-size: 1em;
    }
}

@media(min-width:700px) and (max-width:850px){
    .keyboard{
        width: 90%;
        height: 31vh;
    }
    .key{
        margin: 0.5px;
        font-size: 1.3em;
    }
    .tab,.caps,.enter,.shift{
        font-size: 1.1em;
    }
    .backspace{
        font-size: 1em;
    }
}

@media (min-width:850px) and (max-width:1030px){
    .keyboard{
        width: 85%;
        height: 33vh;
    }
}

@media(min-width:1030px) and (max-width:1150px){
    .keyboard{
        width: 83%;
        height: 39vh;
    }
}