@import url('https://fonts.googleapis.com/css2?family=Actor&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #d0cccc;
}

.heading {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #aad8e4;
    margin-bottom: 20px;
}

.area {
    margin-bottom: 20px;
}

.textarea {
    width: 100%;
    border-radius: 5px;
    max-width: 600px;
    height: 100px;
    padding: 10px;
    font-size: 1rem;
    background-color: #e2e0df;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin-bottom: 30px;
}

.keys {
    width: 50px;
    height: 50px;
    margin: 1px;
    font-size: 1.3rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgb(14,13,13);
    font-family: Nunito Sans;
}

.backtick {
   width: 50px;
   background-color: #FFCDD2;
}

.back {
    width: 100px;
    background-color: #BBDEFB;
    font-size: 1.1em;
}

.tab {
    width: 97px;
    background-color: #F8BBD0;
}

.wide {
    width: 100px;
    background-color: #E1BEE7;
}

.shift {
    width: 125px;
    background-color: #D1C4E9;
}

.keys.space {
    width: 775px;
    background-color: #FFE082;
}

@media (max-width: 450px) {
    .keyboard{ width: 340px; }
    .heading{font-size: 1em;}
    .textarea{ width: 250px;}
    .keys,.backtick{
        height: 20px;
        width: 22px;
        margin: 0;
        font-size: 0.7em;
    }
    .back{  width: 40px;font-size: 0.3em; }
    .tab{ width: 38px;font-size: 0.5em; }
    .wide{  width: 40px; font-size: 0.5em; }
    .shift{ width: 52px; font-size: 0.5em; }
    .keys.space{ width: 325px; font-size: 0.8em;}
}
@media (min-width: 370px) and (max-width: 450px) {
    .keyboard{ width: 370px; }
    .heading{font-size: 1.4em;}
    .textarea{ width: 300px;}
    .keys,.backtick{
        height: 24px;
        width: 24px;
        margin: 0;
        font-size: 0.7em;
    }
    .back{  width: 46px;font-size: 0.5em; }
    .tab{ width: 46px;font-size: 0.7em; }
    .wide{  width: 47px; font-size: 0.7em; }
    .shift{ width: 59px; font-size: 0.7em; }
    .keys.space{ width: 360px; font-size: 0.8em;}
}

@media (min-width: 450px) and (max-width: 550px) {
    .keyboard{ width: 450px; }
    .heading{font-size: 1.5em;}
    .textarea{ width: 400px;}
    .keys,.backtick{
        height: 30px;
        width: 30px;
        margin: 0;
        font-size: 0.9em;
    }
    .back{  width: 57px;font-size: 0.7em; }
    .tab{ width: 55px;font-size: 0.8em; }
    .wide{  width: 58px; font-size: 0.8em; }
    .shift{ width: 73px; font-size: 0.8em; }
    .keys.space{ width: 520px; font-size: 0.9em;}
}

@media (min-width: 550px) and (max-width: 650px) {
    .keyboard{ width: 550px; }
    .heading{font-size: 1.5em;}
    .textarea{ width: 400px;}
    .keys,.backtick{
        height: 35px;
        width: 35px;
        margin: 0;
        font-size: 1em;
    }
    .back{  width: 60px;font-size: 0.8em; }
    .tab{ width: 60px;font-size: 1em; }
    .wide{  width: 65px; font-size: 1em; }
    .shift{ width: 83px; font-size: 1em; }
    .keys.space{ width: 520px;}
}

@media (min-width: 650px) and (max-width: 800px) {
    .keyboard{ width: 650px; }
    .keys,.backtick{
        height: 42px;
        width: 42px;
        margin: 0;
        font-size: 1em;
    }
    .back{  width: 70px;font-size: 0.9em; }
    .tab{ width: 68px;font-size: 1em; }
    .wide{  width: 76px; font-size: 1em; }
    .shift{ width: 97px; font-size: 1em; }
    .keys.space{ width: 620px;}
}